
.moonlight{
  display:flex;
  height:100%;
  width:100%;
  align-items:center;
  flex-direction:column;
  justify-content:space-between;
}


.moonlightAll{
  margin-top:11vh;
  width:85%;

}

.moonlight img{
  height:auto;
  width:auto;
}

.topText{
  width:auto;
}

.topText h1{
  color:#f2f2f2;
  font-size:xxx-large;
}

.options{
  display:flex;
  justify-content:space-around;
}

.options h2{
  color:#f2f2f2;
}


.header{
  width:100%;
  height:8%;
  background-color:#2f2e41;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px;
  
}

.searchBar{
  background-color:#424153;
  margin-top:2%;
  position:sticky;
}


.searchBarInput{
  text-align:center;
  color:#f2f2f2!important;
}

.linkText{
  color:#ff6584
}




